<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-anchor caption="bind:appLocale.LABEL_DASHBOARD" name="dashBoard" on-click="Variables.goToPage_Main.invoke()" class="text-brand-third"></wm-anchor>
    <wm-navbar name="navbarTop">
        <!--<wm-nav name="leftTopLinks" type="navbar" class="navbar-left">-->
        <!--    <wm-nav-item name="list_home">-->
        <!--    </wm-nav-item>-->
        <!--</wm-nav>-->
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right nav-settings">
            <wm-nav-item name="settings" class="pull-right">
                <wm-menu caption="Master Settings" class="setting-menu" name="masterSettingsMenu" iconclass="wi wi-build" dataset="bind:Variables.stvMasterSettingsMenu.dataSet" itemlabel="name" itemchildren="sub" menulayout="horizontal"></wm-menu>
            </wm-nav-item>
            <wm-nav-item name="settings" class="pull-right">
                <wm-menu caption="bind:appLocale.LABEL_SETTINGS" class="setting-menu" name="settingsMenu" iconclass="wi wi-settings" dataset="bind:Variables.stvMenu.dataSet" itemlabel="name" itemchildren="sub" menulayout="horizontal" animateitems="slide"></wm-menu>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>