<wm-page data-ng-controller="ClientLocationPractitionersPageController" pagetitle="Client Location Practitioners">
    <wm-header content="header"></wm-header>

    <wm-content>
        <wm-page-content columnwidth="12">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link" on-beforenavigate="breadcrumbBeforenavigate($isolateScope, $item)" itemid="page"></wm-breadcrumb>-->
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer"></wm-footer>
</wm-page>