<wm-page data-ng-controller="SettingsClientLocationContactsPageController" pagetitle="Settings Client Location Contacts" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link" on-beforenavigate="breadcrumbBeforenavigate($isolateScope, $item)" itemid="page"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown" on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="contactListTable" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_CONTACTS&quot;]" dataset="bind:Variables.contactList.dataSet" navigation="Basic" on-beforedatarender="contactListTableBeforedatarender($scope, $data, $columns)"
                    enablesort="true" gridclass="table-bordered" navigationalign="right" showheader="true" on-datarender="contactListTableDatarender($scope, $data)">
                    <wm-table-column binding="contactName" caption="bind:appLocale.LABEL_CONTACT_NAME" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('firstName')+' '+row.getProperty('lastName')}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="hipContactType.contactType" caption="bind:appLocale.LABEL_TYPE" width="150px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="emailId" caption="bind:appLocale.LABEL_EMAIL" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="phoneCell" caption="bind:appLocale.LABEL_CELL" widget-type="label" width="150px" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{$root.formatPhoneNumber(row.getProperty('phoneCell'))}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="phoneWork" caption="bind:appLocale.LABEL_WORK" widget-type="label" width="150px" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{$root.formatPhoneNumber(row.getProperty('phoneWork'))}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="phoneHome" caption="bind:appLocale.LABEL_HOME" widget-type="label" width="150px" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{$root.formatPhoneNumber(row.getProperty('phoneHome'))}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CONTACT" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_CONTACT" action="addNewRowAction($event);Widgets.dialogManageContact.open()" shortcutkey=""
                        disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="updaterowAction($event);Widgets.dialogManageContact.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewManageContact">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_CONTACT&quot;]" iconclass="wi wi-contacts" name="dialogManageContact" width="50%">
            <wm-layoutgrid name="layoutgrid1">
                <!--<wm-gridrow name="gridrow1" padding=".5em unset unset unset"><wm-gridcolumn columnwidth="12" name="gridcolumn1"><wm-composite name="composite1"><wm-label class="col-md-3 control-label" name="label5" caption="bind:appLocale.LABEL_CONTACT_TYPE" required="true"></wm-label><wm-container class="col-md-9" name="container1"><wm-select name="selectContactType" dataset="bind:Variables.contTypeList.dataSet" datafield="contactTypeId" displayfield="contactType" orderby="contactType:desc" datavalue="bind:Variables.stvEditContact.dataSet.contactTypeId"></wm-select></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow2" padding=".5em unset unset unset"><wm-gridcolumn columnwidth="12" name="gridcolumn3"><wm-composite name="composite2"><wm-label class="col-md-3 control-label" name="label6" caption="bind:appLocale.LABEL_CONTACT_NAME" required="true"></wm-label><wm-container class="col-md-9" name="container2"><wm-text name="textContactName" datavalue="bind:Variables.stvEditContact.dataSet.contactName"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow3"><wm-gridcolumn columnwidth="12" name="gridcolumn5" padding=".5em unset unset unset"><wm-composite name="composite3"><wm-label class="col-md-3 control-label" name="label7" caption="bind:appLocale.LABEL_TITLE" required="true"></wm-label><wm-container class="col-md-9" name="container3"><wm-text name="textTitle" datavalue="bind:Variables.stvEditContact.dataSet.title"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow4" padding=".5em unset unset unset"><wm-gridcolumn columnwidth="12" name="gridcolumn6"><wm-composite name="composite4"><wm-label class="col-md-3 control-label" name="label8" caption="bind:appLocale.LABEL_PHONE" required="true"></wm-label><wm-container class="col-md-9" name="container4"><wm-text name="textPhone" datavalue="bind:Variables.stvEditContact.dataSet.phoneNumber"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow5" padding=".5em unset unset unset"><wm-gridcolumn columnwidth="12" name="gridcolumn7"><wm-composite name="composite5"><wm-label class="col-md-3 control-label" name="label9" caption="bind:appLocale.LABEL_EMAIL" required="true"></wm-label><wm-container class="col-md-9" name="container5"><wm-text name="textEmail" datavalue="bind:Variables.stvEditContact.dataSet.emailId"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow6" padding=".5em unset unset unset"><wm-gridcolumn columnwidth="12" name="gridcolumn8"><wm-composite name="composite6"><wm-label class="col-md-3 control-label" name="label10" caption="bind:appLocale.LABEL_DESCRIPTION" required="true"></wm-label><wm-container class="col-md-9" name="container6"><wm-textarea name="textareaDescription" datavalue="bind:Variables.stvEditContact.dataSet.contactDescription"></wm-textarea></wm-container></wm-composite></wm-gridcolumn></wm-gridrow>-->
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7_1">
                        <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createContactForm" on-submit="createContactFormSubmit($event, $scope, $formData)">
                            <wm-layoutgrid columns="1" name="layoutgrid3">
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                        <wm-label padding="0em unset 0em 0.6em" name="Details" caption="bind:appLocale.LABEL_DETAILS" class="h3" fontweight="bold" margin="0px unset" textalign="left"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                        <wm-form-field name="selectContactTypeId" key="RequestBody.contactTypeId" type="integer" displayname="bind:appLocale.LABEL_CONTACT_TYPE" widget="select" show="true" placeholder="Select value" dataset="bind:Variables.contTypeList.dataSet" datafield="contactTypeId"
                                            displayfield="contactType" defaultvalue="bind:Variables.stvEditContact.dataSet.contactTypeId"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                        <wm-form-field name="textTitle" readonly="false" displayname="bind:appLocale.LABEL_TITLE" key="RequestBody.title" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditContact.dataSet.title"
                                            required="true" maxchars="25"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                        <wm-form-field name="textFirstName" readonly="false" displayname="First Name" key="RequestBody.firstName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditContact.dataSet.firstName"
                                            required="true" maxchars="25"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow13">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                        <wm-form-field name="textLastName" readonly="false" displayname="Last Name" key="RequestBody.lastName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditContact.dataSet.lastName" maxchars="25"
                                            required="true"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow15">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                                        <wm-form-field name="textareaDescription" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.contactDescription" type="string" show="true" widget="textarea" placeholder="Enter value" defaultvalue="bind:Variables.stvEditContact.dataSet.contactDescription"
                                            required="false" maxchars="250"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow14">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                                        <wm-label padding="0em unset 0em 0.6em" name="Phone" caption="bind:appLocale.LABEL_CONTACT_INFO" class="h3" fontweight="bold" margin="0px unset" textalign="left"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                        <wm-form-field name="textEmailId" readonly="false" displayname="bind:appLocale.LABEL_EMAIL" key="RequestBody.emailId" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditContact.dataSet.emailId"
                                            required="true" maxchars="25" regexp=".*^(\w[-._+\w]*\w@\w[-._\w]*\w\.\w{2,3})$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow17">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                                        <wm-form-field name="textPhoneCell" readonly="false" displayname="bind:appLocale.LABEL_CELL" key="RequestBody.phoneCell" type="string" show="true" widget="text" inputtype="text" placeholder="" defaultvalue="bind:Variables.stvEditContact.dataSet.phoneCell"
                                            maxchars="20" displayformat="(999) 999-9999"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="textPhoneWork" readonly="false" displayname="bind:appLocale.LABEL_WORK" key="RequestBody.phoneWork" type="string" show="true" widget="text" inputtype="text" placeholder="" defaultvalue="bind:Variables.stvEditContact.dataSet.phoneWork"
                                            maxchars="20" displayformat="(999) 999-9999" required="true"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="textPhoneHome" readonly="false" displayname="bind:appLocale.LABEL_HOME" key="RequestBody.phoneHome" type="string" show="true" widget="text" inputtype="text" placeholder="" defaultvalue="bind:Variables.stvEditContact.dataSet.phoneHome"
                                            required="false" maxchars="25" displayformat="(999) 999-9999"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="selectContactStatus" key="RequestBody.contactStatus" displayname="bind:appLocale.LABEL_STATUS" show="true" type="string" widget="select" placeholder="Select value" dataset="bind:Variables.stvContactStatus.dataSet" datafield="key"
                                            displayfield="dataValue" defaultvalue="bind:Variables.stvEditContact.dataSet.contactStatus"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="Close" on-click="closeDialog()" name="buttonClose"></wm-button>
                <wm-button class="btn-primary" caption="Save" type="button" margin="unset 0.5em" name="buttonSave" on-click="buttonSaveClick($event, $scope)"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>