<wm-page data-ng-controller="SettingsClientLocationAssetsPageController" pagetitle="Settings Client Location Assets" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemid="page" itemlabel="label" itemicon="icon" itemlink="link" on-beforenavigate="breadcrumbBeforenavigate($isolateScope, $item)"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="clientLocationAssetListTable" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_ASSETS&quot;]" dataset="bind:Variables.clientLocationAssetList.dataSet" navigation="Basic"
                    navigationalign="right" on-datarender="clientLocationAssetListTableDatarender($scope, $data)" on-beforedatarender="clientLocationAssetListTableBeforedatarender($scope, $data, $columns)">
                    <wm-table-column binding="hipAsset.assetSerialNumber" caption="bind:appLocale.LABEL_ASSET_SERIAL_NUMBER" width="200px" edit-widget-type="number" type="integer" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="assetName" caption="bind:appLocale.LABEL_ASSET_NAME" width="200px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="appVersion" caption="bind:appLocale.LABEL_APP_VERSION" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="osVersion" caption="bind:appLocale.LABEL_OS_VERSION" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="description" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_ASSET" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRowAction($event);Widgets.dialogAddAsset.open()" shortcutkey=""
                        disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="updaterowAction($event);Widgets.dialogAddAsset.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_ASSETS&quot;]" iconclass="wi wi-file-text" name="dialogAddAsset">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="savelButton" on-click="savelButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.CreateClientLocationAssetsInvoke.dataSet" captionalign="left" name="createClientLocationAssetsForm"
                on-submit="createClientLocationAssetsFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="selectSerialNumber" key="RequestBody.assetId" type="integer" displayname="bind:appLocale.LABEL_ASSET_SERIAL_NUMBER" widget="select" show="true" dataset="bind:Variables.assetList.dataSet" datafield="assetId"
                                displayfield="assetSerialNumber" defaultvalue="bind:Variables.stvEditclientLocAsset.dataSet.assetId" required="true" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="textAssetName" readonly="false" displayname="bind:appLocale.LABEL_ASSET_NAME" key="RequestBody.assetName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditclientLocAsset.dataSet.assetName"
                                required="true" maxchars="50"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="textAppVersion" readonly="false" displayname="bind:appLocale.LABEL_APP_VERSION" key="RequestBody.appVersion" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditclientLocAsset.dataSet.appVersion"
                                required="true" maxchars="25"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="textOSVersion" readonly="false" displayname="bind:appLocale.LABEL_OS_VERSION" key="RequestBody.osVersion" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditclientLocAsset.dataSet.osVersion"
                                required="true" maxchars="20"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="textDescription" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.description" type="string" show="true" widget="textarea" placeholder="Enter value" defaultvalue="bind:Variables.stvEditclientLocAsset.dataSet.description"
                                required="true" maxchars="250"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>