<wm-page data-ng-controller="ClientsPageController" pagetitle="Clients" name="page1">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemid="label" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"></wm-select>
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="clientsListTable" title="bind:appLocale.LABEL_CLIENTS_LIST" dataset="bind:Variables.clientsList.dataSet" navigation="Basic" showrecordcount="false" navigationalign="right" showheader="true" on-beforedatarender="clientsListTableBeforedatarender($scope, $data, $columns)"
                    on-datarender="clientsListTableDatarender($scope, $data)">
                    <wm-table-column binding="id" caption="bind:appLocale.LABEL_CLIENT_ID" width="90px" textalignment="center" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="businessName" caption="bind:appLocale.LABEL_BUSINESS_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="shortName" caption="bind:appLocale.LABEL_SHORT_NAME" width="200px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="code" caption="bind:appLocale.LABEL_Code" width="150px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="website" caption="bind:appLocale.LABEL_WEBSITE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="status" caption="bind:appLocale.LABEL_STATUS" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="100px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CLIENT" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_CLIENT" action="addNewRowAction($event);Widgets.manageClientDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_UPDATE_CLIENT" action="updaterowAction($event);Widgets.manageClientDialog.open()"
                        disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-location-on" title="bind:appLocale.LABEL_LOCATIONS" action="Actions.ngSettingsClientLocations.invoke()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewManageClient">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_CLIENT_DETAILS" iconclass="wi wi-file-text" name="manageClientDialog">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createClientForm" on-submit="createClientFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="textClientBusinessName" readonly="false" displayname="bind:appLocale.LABEL_BUSINESS_NAME" key="RequestBody.clientBusinessName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                required="true" maxchars="45" defaultvalue="bind:Variables.stvEditClient.dataSet.businessName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="textareaClientShortName" readonly="false" displayname="bind:appLocale.LABEL_SHORT_NAME" key="RequestBody.clientShortName" type="string" show="true" widget="text" placeholder="Enter value" required="false" maxchars="100"
                                defaultvalue="bind:Variables.stvEditClient.dataSet.shortName" inputtype="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="textClientCode" readonly="false" displayname="bind:appLocale.LABEL_Code" key="RequestBody.clientCode" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="25"
                                defaultvalue="bind:Variables.stvEditClient.dataSet.code"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="textClientWebSite" readonly="false" displayname="bind:appLocale.LABEL_WEBSITE" key="RequestBody.clientWebSite" type="string" show="true" widget="text" inputtype="search" placeholder="Enter value" defaultvalue="bind:Variables.stvEditClient.dataSet.website"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5_1">
                            <wm-form-field name="selectClientStatus" readonly="false" displayname="bind:appLocale.LABEL_STATUS" key="RequestBody.clientStatus" type="string" show="true" widget="select" placeholder="bind:appLocale.LABEL_SELECT_VALUE" layout="inline"
                                dataset="bind:Variables.stvClientStatus.dataSet" datafield="dataValue" displayfield="dataValue" defaultvalue="bind:Variables.stvEditClient.dataSet.status" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>