<wm-partial data-ng-controller="footerPageController" name="footer" type="footer">
    <wm-layoutgrid height="auto" name="footerlayout">
        <wm-gridrow name="footerrow" padding="0px unset unset unset">
            <wm-gridcolumn name="footerleft" verticalalign="bottom">
                <wm-label padding="unset 0.5em" name="label3" class="p" caption="bind:appLocale.LABEL_HELP_SUPPORT" fontsize="12" fontweight="bold"></wm-label>
                <wm-label padding="unset 0.5em" name="label4" class="p text-muted" caption="Copyright 2018 : Helath iPASS" fontsize="12"></wm-label>
                <wm-label padding="unset 0.5em" name="label5" class="p text-muted" caption="Terms   |   Privacy   |   Contact" fontsize="12"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                <wm-picture name="pictureFooter" pictureplaceholder="resources/images/imagelists/HealthiPASS-Logo-White-Tagline.png" width="150"></wm-picture>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>